:root {
  --color-btn1-bg1: #61DAFB;
  --color-btn1-bg2: #54d0f2;
  --color-btn1-txt: #2b2b2b;
}
body {
  margin: 0;
  min-height: 100vh;
  background-color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  min-height: 100%;
}

.App {
  /* text-align: center; */
}


.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  align-items: center;
  background-color: #282c34;
  height: 15vh;
  font-size: 1rem;
  color: white;
  position: fixed; 
  top: 0; 
  width: 100%;
  z-index: 1;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.active-link {
  background-color: #fff;
  color: #333; 
}


h1 {
  margin-left: 1rem;
}

/* Home Page */
.home-page {
  margin: 10vh auto;
  max-width: 100vh;
  text-align: center;
}

/* Beers Page */
.beers-page {
  margin: 10vh auto;
  max-width: 100vh;
  text-align: center;
}
.beers-page a {
  color: #282c34;
  text-decoration: none;
  font-size: 1.2em;
  border: 2px solid #282c34;
  padding: 10px 20px;
  display: inline-block;
  margin-top: 20px;
}

.beers-page a:hover {
  background-color: #61DAFB;
  color: #282c34;
}

/* Not Found Page */
.error-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* height: 100vh; */
  margin: 0 auto;
}

.error-page a {
  color: #000;
  text-decoration: none;
  font-size: 1.2em;
  border: 2px solid #000;
  padding: 10px 20px;
  margin-top: 20px;
  display: inline-block;
}

.error-page a:hover {
  background-color: #000;
  /* color: #fff; */
}

.logo {
  height: 2em;
  padding: 0.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.navbar {
  margin-top: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 1rem;
  position: fixed; 
  top: 0; 
  width: 100%; 
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar li {
  margin: 0 1rem;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* USERS LIST */

.user-list-link {
  display: flex;
  align-items: center;
}

.user-list-image {
  margin-right: 1rem;
}

.user-list-name {
  flex-grow: 1;
}

.user-list-link button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.user-list {
  list-style: none;
  padding: 0;
}

.user-list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.user-list li > * {
  margin-right: 10px;
}

.user-list button {
  background: none;
  border: none;
  cursor: pointer;
}

/* LOGIN STYLE */

.login-form {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form h1 {
  text-align: center;
  margin-top: 0;
}

.login-form p {
  text-align: center;
}

.login-form form {
  display: flex;
  flex-direction: column;
}

.login-form label {
  margin-top: 10px;
}

.login-form input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#login-btn {
  margin-top: 20px;
  padding: 10px;
  background-color: var(--color-btn1-bg1);
  color: var(--color-btn1-txt);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#login-btn:hover {
  background-color: var(--color-btn1-bg2);
}


/* USER ADD FORM */

.form-group {
  margin-bottom: 1rem;
}

.form-label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form-input {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  line-height: 1.5;
}

/* USERS LIST */

.users-container {
  max-width: 1200px;
  margin: auto;
  /* padding: 40px; */
}

.title {
  text-align: center;
  /* margin-bottom: 1rem; */
}

.user-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.user-list li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  width: 100%;
  max-width: 600px;
  margin-bottom: 10px;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.name {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}

.dob {
  font-size: 14px;
  color: #777;
}

.edit {
  font-size: 20px;
}

.edit i {
  color: #008cba;
  cursor: pointer;
}

.no-users {
  font-size: 18px;
  color: #777;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.add-user {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.general-btn {
  padding: 10px 20px;
  background-color: #008cba;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin: 0.5rem;
}

.general-btn:hover {
  background-color: var(--color-btn1-bg2);
  color: #fff;
}

@media (max-width: 768px) {
  .user-list li {
    flex-direction: column;
    align-items: flex-start;
  }

  .user-info {
    margin-bottom: 10px;
  }

  .edit {
    margin-left: auto;
  }
}
